        body {
          background-image: url('background.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        h1{
          color:silver
        }
        p{
          color:silver
        }